In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nanortalik,GL,2022-05-27 23:45:39,60.1432,-45.2371,39.02,79,100,5.61
1,1,Port Macquarie,AU,2022-05-27 23:45:40,-31.4333,152.9167,62.89,72,37,3.83
2,2,Inirida,CO,2022-05-27 23:45:40,3.8653,-67.9239,73.08,97,81,2.51
3,3,Srednekolymsk,RU,2022-05-27 23:45:40,67.4500,153.6833,44.89,39,15,4.45
4,4,Port Alfred,ZA,2022-05-27 23:45:41,-33.5906,26.8910,60.87,82,13,6.60

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Atuona,PF,2022-05-27 23:45:41,-9.8000,-139.0333,78.53,75,28,18.88
7,7,Rikitea,PF,2022-05-27 23:45:42,-23.1203,-134.9692,76.86,74,12,13.33
11,11,Suwannaphum,TH,2022-05-27 23:45:43,15.6035,103.8021,80.85,77,100,8.57
17,17,Faanui,PF,2022-05-27 23:45:46,-16.4833,-151.7500,80.89,62,2,15.77
22,22,Nhulunbuy,AU,2022-05-27 23:45:48,-12.2333,136.7667,84.81,65,40,16.11
26,26,Victoria,HK,2022-05-27 23:43:17,22.2855,114.1577,83.32,87,93,10.00
29,29,Wahpeton,US,2022-05-27 23:45:50,46.2652,-96.6059,80.62,18,0,0.00
35,35,Half Moon Bay,US,2022-05-27 23:45:52,37.4636,-122.4286,77.54,75,100,16.11
41,41,Kavieng,PG,2022-05-27 23:45:55,-2.5744,150.7967,83.37,60,99,1.28
46,46,Limbang,MY,2022-05-27 23:46:56,4.7500,115.0000,77.11,86,97,0.89

In [11]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
5          Atuona      PF     78.53  -9.8000 -139.0333
7         Rikitea      PF     76.86 -23.1203 -134.9692
11    Suwannaphum      TH     80.85  15.6035  103.8021
17         Faanui      PF     80.89 -16.4833 -151.7500
22      Nhulunbuy      AU     84.81 -12.2333  136.7667
26       Victoria      HK     83.32  22.2855  114.1577
29       Wahpeton      US     80.62  46.2652  -96.6059
35  Half Moon Bay      US     77.54  37.4636 -122.4286
41        Kavieng      PG     83.37  -2.5744  150.7967
46        Limbang      MY     77.11   4.7500  115.0000

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Atuona,PF,78.53,-9.8000,-139.0333,Villa Enata
7,Rikitea,PF,76.86,-23.1203,-134.9692,People ThankYou
11,Suwannaphum,TH,80.85,15.6035,103.8021,วรรณมณี รีสอร์ท
17,Faanui,PF,80.89,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
22,Nhulunbuy,AU,84.81,-12.2333,136.7667,East Arnhem Real Estate
...,...,...,...,...,...,...
545,Shwebo,MM,81.41,22.5667,95.7000,MOON SHINE Guest House
547,Rapid Valley,US,88.32,44.0625,-103.1463,Fairfield Inn & Suites by Marriott Rapid City
548,Nicolas Bravo,MX,79.97,18.4500,-88.9167,
554,Berbera,SO,83.97,10.4396,45.0143,IBCO REAL ESTATE PROPERTY
557,Roswell,US,76.71,34.0232,-84.3616,La Quinta Inn & Suites by Wyndham Atlanta Roswell

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))